body {
    height: 100%;
}

form *{
    display: block;
}

.book-list{
    border-bottom: 1px black solid;
    padding-bottom: 1vh;
}

#form-add_book{
    padding-top: 1vh;
}

ul {
    width: 50vw;
}

li {
    list-style: none;
    border-bottom: 1px rgb(140, 140, 140) solid;
    padding-bottom: 1.5vh;
}

#form {
    padding-inline-start: 40px;
}