body {
    height: 100%;
}

form *{
    display: block;
}

.book-list{
    border-radius: 8px;
    width: 50vw;
    margin: 0 auto;
}

ul {
    width: 50vw;
}

li {
    list-style: none;
    border-bottom: 1px rgb(140, 140, 140) solid;
    padding-bottom: 1.5vh;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 25vw;
    margin: 0 auto;
}

#form button{
    align-self: flex-end;
}

.book {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .main-title , .form-title {
    text-align: center;
  }